<footer id="footer" class="site-footer">
  {% include footer-custom.html %}

  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
      <p>Built with love for and by Hubballi Dharwada Community</p>
    {% endif %}
  	<a href="https://thehdtour.com/site/disclaimer" <title> Disclaimer </title> </a>,
    	<a href="https://thehdtour.com/site/credits" <title> Credits </title> </a> 	,
    	<a href="https://thehdtour.com/site/privacy" <title> Privacy </title> </a>
  </div>

  <div class="company">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.  <a href="https://slabs.tech">The S Labs Solutions Initiative</a> </p>
  </div>
</footer>
